@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  background-color: #202020;
  background-image: url("../../img/home-confetti.png");
  background-position: 50% 50%;
  background-size: contain;
}
.container {
  padding: 1% 10% 1% 10%;
}
.view-note {
  color: #39a2db;
}
.table-content {
  border-collapse: collapse;
  font-size: 15px;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  top: 30%;
  position: relative;
}
.table-content thead tr {
  background-color: rgb(104, 104, 104);
  color: #000000;
  text-align: center;
}
.table-content th,
.table-content td {
  padding: 5px;
  border: 2px solid #000000;
}
.table-content tbody tr {
  background-color: #b4dbff;
}
.table-content tbody tr:nth-of-type(even) {
  background-color: #81a7c0;
}
.table-content tbody tr:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(0, 58, 124);
}
.sidebar {
  border-radius: 23px 0px 0px 23px;
  margin-top: 5%;
  position: fixed;
  height: 558px;
  width: 220px;
  background-color: rgb(0, 0, 0);
  background: linear-gradient(
    114.1deg,
    rgba(24, 24, 24, 0.65) 18.52%,
    rgba(15, 15, 15, 0.75) 98.52%
  );
  backdrop-filter: blur(120px);
  transition: all 0.5s ease;
}
.glass {
  backdrop-filter: blur(23px) saturate(200%);
  -webkit-backdrop-filter: blur(23px) saturate(200%);
  background-color: rgba(73, 73, 73, 0.3);
  border-radius: 36px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.card {
  display: flex;
  width: 750px;
  height: 142px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  top: 100px;
  left: 129px;
  position: relative;
}
.card-date {
  font-family: "Atlasi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 73px;

  color: #ffffff;
}

.card-button .card-btn {
  padding: 7px 32px !important;
  border-radius: 18px !important;
  background-color: #616161;
  color: #d8ff3b;
  font-size: 16px;
}
.description-title {
  font-family: "Atlasi", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.71);
}
.description-place {
  font-family: "Atlasi", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
  line-height: 55px;
  /* identical to box height */

  color: #ffffff;
}
.sidebar.active {
  width: 20%;
}
.sidebar .sidenav-links {
  margin-top: 10px;
}
.sidebar .sidenav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .sidenav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .sidenav-links li a.active {
  background: #081d45;
}
.sidebar .sidenav-links li a:hover {
  background: #000000;
  border-radius: 15px;
}
.sidebar .sidenav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .sidenav-links li a .links_name {
  color: rgb(245, 245, 245);
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.home-section {
  position: relative;
  padding: 0 20px 0 20px;
  height: 640px;
  width: calc(100% - 220px);
  left: 220px;
  transition: all 0.5s ease;
  border-radius: 43px;
  backdrop-filter: blur(23px) saturate(200%);
  -webkit-backdrop-filter: blur(23px) saturate(200%);
  background-color: rgba(34, 34, 34, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}
nav {
  display: flex;
  height: 60px;
  position: fixed;
  width: calc(100% - 400px);
  z-index: 100;
  padding: 0 20px;
  transition: all 0.5s ease;
  border-radius: 43px 0 0 0;
  color: white;
}
nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}
nav .sidebar-button i {
  font-size: 40px;
  margin-right: 10px;
}
.home-section .home-content {
  border-radius: 43px;
  display: flex;
  position: relative;
  padding: 60px 30px 30px 30px;
  background: linear-gradient(
    114.1deg,
    rgba(40, 40, 40, 0.64) 18.52%,
    rgba(15, 15, 15, 0.8) 98.52%
  );
  backdrop-filter: blur(120px);
}
.profile_pic {
  width: 40%;
  height: 500px;
  border-radius: 20px;
}
.profile_pic .image img {
  width: 250px;
  height: 250px;
  margin: 20px 0 0 50px;
  border-radius: 50%;
  border: solid;
  background-color: lightcoral;
  vertical-align: middle;
}
.fa-facebook,
.fa-linkedin {
  width: 30px;
  height: 30px;
  border-radius: 7px;
  padding: 7px;
  text-align: center;
  color: rgb(128, 223, 240);
  background-color: black;
}
.profile_pic .url {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  text-align: center;
}
.facebook,
.linkedin {
  margin-top: 30px;
  width: 100%;
  justify-content: center;
}
.socialLink a {
  font-family: "Poppins", sans-serif;
  display: flex;
  padding-left: 15px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(128, 223, 240);
}

.profile_details {
  width: 60%;
  font-size: 20px;
  color: white;
}
.profile_details .personal_info {
  width: 100%;
  height: 450px;
  padding: 20px;
}
.profile_details .bank_info {
  width: 100%;
  height: 400px;
  padding: 20px;
}
.row {
  height: calc(100% / 7);
  display: flex;
}
.col_name {
  float: left;
  width: 35%;
  margin-top: 6px;
  font-weight: 600;
}

.col_data {
  color: rgb(160, 148, 148);
  font-weight: bold;
  float: right;
  width: 65%;
  margin-top: 6px;
}
.personal_info a,
.bank_info a {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.bank_info .col_name {
  width: 45%;
}
.bank_info .col_data {
  width: 55%;
}
.bank_info .row {
  height: calc(100% / 6);
}
.edit {
  float: right;
}
.edit a {
  font-family: "Poppins", sans-serif;
  color: azure;
  font-weight: 400;
  font-size: 20px;
}
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.active {
    width: 220px;
  }
  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section {
    overflow: hidden;
    left: 220px;
  }
  .home-section nav {
    width: 300px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }
  .home-content .sales-boxes .box {
    width: 100%;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes {
    margin: 0;
    padding: 10px;
  }
  .home-content .sales-boxes .recent-sales {
    margin: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 700px) {
  nav .sidebar-button .dashboard i {
    display: flex;
  }
  .home-content .sales-boxes .sales-details {
    width: 560px;
    margin-bottom: 15px;
  }
}
.back-blob {
  position: absolute;
  top: 23%;
  left: 40%;
}
.add-note-div {
  top: 66%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}
.add-note {
  margin-right: 10px;
}
