input[type="text"],
select {
  padding: 7px 4px 7px 9px;
  width: 60%;
  border-radius: 11px;
  border: 0.5px solid black;
  margin: 5px 0;
}
.home-section .home-content {
  border-radius: 43px !important;
  position: relative !important;
  padding: 26px 30px 30px 30px !important;
}
#mainTitle {
  text-align: center;
  color: white;
  font-size: 32px;
}
.home-content {
  text-align: center;
}
#backBtnId {
  background-color: brown;
  margin-top: 18px;
  margin-left: 9px;
}
#submitBtn {
  margin-top: 12px;
}
