@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.nav-bar {
  background-color: #202020;
  margin: 0;
  position: sticky; 
  display: flex;
  justify-content: space-between;
  vertical-align:top;
  align-items: center;
  padding-top: 15px; 
  padding-left: 55px;
  padding-right: 55px;
  top: 0;
  left: 0;
  height: auto;
} 

 .logo-img {
  height: 59px;
  width: auto;
  cursor: pointer;
}

.nav-items {
  width: 100%;
  padding-left: 200px;
}

.nav-links { 
  align-items: center;
  justify-content: space-around;
  padding-left:50px; 
  width: 100%;
  margin:0;
} 

.nav-links li {
  position: relative;
  list-style: none;
  padding-left:20px;
  display:inline-block;
  
} 

.nav-links li a, a{
  color: #e8f0f2;
  font-size: 25px;
  font-family: "Actor", sans-serif;
  text-decoration: none;
}

.nav-links li a:hover{
  background:black;
  color:white
}

.nav-links .browse-links{
  position:absolute;
  top:30px;
  display:none;
} 

.nav-items .nav-links li:hover > .browse-links{
  display:block;
} 

.nav-links .browse-links{
  text-align: center;
  backdrop-filter: blur(1200px);
  -webkit-backdrop-filter: blur(1200px);
  background-color:linear-gradient(114.1deg, rgba(40, 40, 40, 0.91) 18.52%, rgba(15, 15, 15, 0.73) 98.52%), linear-gradient(106.04deg, rgba(255, 255, 255, 0.12) 10.95%, rgba(255, 255, 255, 0.1) 98.32%);
  /* Note: backdrop-filter has minimal browser support */
   border-radius: 20px;
  padding:10px;
}

.nav-links .browse-links li{
  background-color:transparent;
  width:300px;
  float:none;
  display: list-item;
  position: relative;
  padding: 5px;
}

.nav-links .plan-links{
  position:absolute;
  top:30px;
  display:none;
} 

.nav-items .nav-links li:hover > .plan-links{
  display:block;
} 


.nav-links .plan-links{
  text-align: center;
  backdrop-filter: blur(1200px);
  -webkit-backdrop-filter: blur(1200px);
  background-color:linear-gradient(114.1deg, rgba(40, 40, 40, 0.91) 18.52%, rgba(15, 15, 15, 0.73) 98.52%), linear-gradient(106.04deg, rgba(255, 255, 255, 0.12) 10.95%, rgba(255, 255, 255, 0.1) 98.32%);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  padding:10px;
}

.nav-links .plan-links li{
  background-color:transparent;
  width:200px;
  float:none;
  display: list-item;
  position: relative;
  padding: 5px;
}

.nav-chata a, .nav-notifi a , .nav-buttons a{
  padding-left:30px;
} 

.nav-buttons{
  display:none;
}