@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alatsi&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #202020;
  background-image: url("../../public/img/home-confetti.png");
  background-position: 50% 50%;
  background-size: contain;
}

.successful{
  z-index: 2;
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  height: 50px;
  background: #fbf6d5;
  color: #673500;
  border-color: rgba(220,179,0,.2);
  box-shadow: 0 3px 0 0 #d5e1e6;
  border-radius: 0 0 4px 4px;
  display: block;
  

}

.success-items{
  display:flex;
  flex-direction:row;

}

.success-content{
 width: 500px;

}
.success-icon{
  width: 700px;

  cursor:pointer;
}


.close {
  margin-left:901px;
  float: right;
  font-size: 45px;


}



.home-blob {
  position: absolute;
  right: 10%;
  height: 400px;
  width: 400px;
  z-index: -1;
}
.section1 {
  width: 100%;
  height: 721px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
.left {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  justify-content: space-around;
}
.content-left {
  align-content: center;
}
.quote {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 93.8%;
  /* or 60px */

  color: #ffffff;
}
.search-vendor {
  margin: 20px;
  width: 200px;
  height: 43px;
  background: #f178b6;
  border-radius: 23.5px;
  font-family: Actor;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}
.right {
  display: flex;
}
.glass {
  backdrop-filter: blur(23px) saturate(200%);
  -webkit-backdrop-filter: blur(23px) saturate(200%);
  background-color: rgba(73, 73, 73, 0.54);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.glass-phone {
  position: relative;
  width: 267px;
  height: 533px;
  padding: 10% 10%;
  border-radius: 43px;
}
.hamburger-menu {
  left: 10px;
}
.hamburger-png {
  width: 18px;
  height: 10px;
}
.inner-glass {
  width: 199px;
  height: 218px;
  position: absolute;
  top: 20%;
  left: 22%;
  margin: -25px 0 0 -25px;
  background: linear-gradient(
      39.56deg,
      rgba(255, 161, 164, 0.2) 2.9%,
      rgba(241, 120, 182, 0.57) 96.8%
    ),
    linear-gradient(
      106.04deg,
      rgba(255, 255, 255, 0.12) 10.95%,
      rgba(255, 255, 255, 0.1) 98.32%
    );
  backdrop-filter: blur(120px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 19px;
}
.cake-bakery-name {
  font-family: "Alatsi", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
}

.cake-icon {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stars-img {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.seller-description {
  position: relative;
  font-family: Actor;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 105.4%;
  /* or 16px */
  text-align: center;
  color: rgba(255, 255, 255, 0.93);
  top: 300px;
}
.request-icon {
  position: relative;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section2 {
  margin: 0;
  padding: 20px 0;
  border-radius: 0 45px 0 45px;
  background-color: #fcf2ce;
  background-size: auto;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.ad-details-img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ads-logo-img {
  height: 100%;
  margin-left: 10px;
}
.ad-imgs-cards {
  height: 400px;
}
.section3 {
  display: flex;
  width: 100%;
  height: 768px;
  background-color: #ffebec;
}
.section3 {
  display: flex;
  flex-direction: row;
}
.vendor-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 49px;
  margin-bottom: 0;
  resize: none;
}
.best-seller-text {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.best-seller-icons {
  /* margin: 30px 5px; */
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.seller-name {
  font-family: Actor;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 99%;
  /* or 15px */

  text-align: center;

  color: #000000;
}
.best-seller-h2 {
  color: #000000;
  font-family: Alatsi;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 88.5%;
  /* or 44px */

  text-align: center;
}
.vendor-stars {
  padding: 10px 0 10px 0;
}
.section-3-end {
  width: 100%;
}
.section4-header {
  font-family: Actor;
  font-style: normal;
  font-weight: normal;
  font-size: 85px;
  line-height: 99%;
  /* or 84px */

  text-align: center;

  color: #ffffff;
  margin-bottom: 100px;
}
.supplier-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 50%;
}
.supplier-name {
  text-align: center;
  font-family: Actor;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 35px;

  color: #ffffff;
}
.supplier-icon {
  height: 178px;
  width: 178px;
}
.section4 {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.supplier {
  margin-bottom: 60px;
}
