* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #202020;
  background-image: url("../../public/img/home-confetti.png");
  background-position: 50% 50%;
  background-size: cover;
}
.btn,
.button,
input {
  border-radius: 35px;
}

.btn:hover,
button:hover {
  transition: 0.5s ease;
}
form input {
  outline: none;
  margin-bottom: 15px;
  font-stretch: 16px;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.09);
  background: #ffffff;
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  transition: 0.3s ease;
}

form input:focus {
  background: #ffffff;
  border: 1px solid #000000;
}

form .button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 187px;
  height: 43px;
  text-align: center;
  padding: 2.5% !important;
  background: #5ece67;
  border-radius: 20px;
  color: #ffffff;
}

form .button:hover {
  background-color: #464646;
}
.payment-form {
  width: 40%;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}
