body {
  margin: 0;
  background-color: #202020;
  background-image: url("../../public/img/home-confetti.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-size: 100%;
}

  h1 {
    color: white;
    text-align: center;
    font-family: "Actor", sans-serif;
    font-weight: 400;
    margin-top: 10%;
  }
  .container {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-asVendor,
  .container-asCustomer {
    margin-left: 80px;
    margin-right: 80px;
  }
  .container-asVendor {
    background-image: url("../../public/img/leftblob.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container-asCustomer {
    background-image: url("../../public/img/rightblob.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .button {
    display: flex;
    justify-content: center;
  }
  .button-asCustomer,
  .button-asVendor {
    display: flex;
    justify-content: center;
  }
  button {
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    line-height: 23px;
    padding: 15px 80px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.3);
  }
  .buttonCustomer {
    background-color: #9593ff;
  }

  button:hover {
    opacity: 0.9;
  }
  .buttonVendor {
    background-color: #ff9393;
  }

  .veni, .cuni {
    width: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .glass-asCustomer,
  .glass-asVendor {
    display: block;
    width: 350px;
    height: 400px;
    margin: 20px;
    margin-bottom: 10%;
    backdrop-filter: blur(23px) saturate(200%);
    -webkit-backdrop-filter: blur(23px) saturate(200%);
    background-color: rgba(73, 73, 73, 0.54);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 43px;
  }
  /* .imgBlobLeft,
  .imgBlobRight {
    position: relative;
    z-index: -1;
    top: -10px;
    height: 320px;
    width: 330px;
  } */