@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color:#202020; 
    background-image:url("../../../public/img/confetti.png"); 
    background-repeat: round;
}
.container{
    padding: 3%; 
    display: flex;
}

.container{
  background-image: url("../../../public/img/searchVenR.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar{
  display: flex;
  flex-direction: column;
  order:0;
  border-radius: 30px 0px 0px 30px;
  margin-top: 2%;
  position: fixed;
  height: 72%;
  width: 260px;
  /* background-color: rgb(0, 0, 0); */
  background: linear-gradient(114.1deg, rgba(24,24,24,0.65) 18.52%, rgba(15,15,15,0.75) 98.52%);
  backdrop-filter: blur(120px); 
  transition: all 0.5s ease;
  
}
.sidebar.active{
  width: 20%;
}

.sidebar .sidenav-links{
  margin-top: 10px;
}
.sidebar .sidenav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .sidenav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  
}
.sidebar .sidenav-links li a.active{
  background: #626a79;
}
.sidebar .sidenav-links li a:hover{
   background: linear-gradient(114.1deg, rgba(129, 129, 129, 0.08) 18.52%, rgba(49, 49, 49, 0.51) 98.52%);
   backdrop-filter: blur(120px);
     /* Note: backdrop-filter has minimal browser support */
   border-radius: 19px 0px 0px 19px;
}
.sidebar .sidenav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .sidenav-links li a .links_name{
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

/* .side{ 
  background-image:url("../../../public/img/searchVenR.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top:5%;
}*/


.cusContent{
    position: relative;
    display: flex;
    flex-direction: column;
    order:1;
    height: 80%;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.5s ease;
    border-radius: 30px; 
    background-color: rgb(0, 0, 0);
    background: linear-gradient(114.1deg, rgba(24,24,24,0.65) 18.52%, rgba(15,15,15,0.75) 98.52%);
    backdrop-filter: blur(120px);
    padding:2%;
}

.input-box01, .input-box02,.input-box04,.input-box05 , .input-box25{
  display:flex;
  flex-direction: column;
  order:0;
  padding:3%;
}

.input-box02 input,.input-box03 input, .input-box05 input,  .input-box25 input{
  height: 44px;
  padding:2%;
  opacity: 0.9;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  color: #F5F5F5; 
}


.input-box01 select,.input-box04 select {
 height: 44px;
 /* margin-left:3%;
 margin-right:3%;
 margin-top: 3%;
 margin-bottom: 3%;  */
 /* padding:3%; */
 padding-left:2%;
 
 opacity: 0.9;
 font-style: normal;
 font-weight: normal;
 font-size: 19px;
 line-height: 24px;
 background-color: transparent;
 border-radius: 5px;
 border: 1px solid #FFFFFF;
 box-sizing: border-box;
 color: #F5F5F5;  
}

.input-box01 select option,.input-box04 select option{
 color: black;
 background-color: rgb(235, 232, 226);
}


.venueContent{
  position: relative;
  display: flex;
  flex-direction: column;
  order:1;
  width: calc(100% - 350px);
  left: 260px;
  transition: all 0.5s ease;
  border-radius: 30px; 
  background-color: rgb(0, 0, 0);
  background: linear-gradient(114.1deg, rgba(24,24,24,0.65) 18.52%, rgba(15,15,15,0.75) 98.52%);
  backdrop-filter: blur(120px);
  padding:2%;
}

/* .venueContent.active{
  opacity: 1;

} */

.venueq{
  display:flex;
  flex-direction: column;
  order:0;
  padding:2%;
}


.venueq p1, .venueq p2, .musicq p3, .danceq p,.cakeq p4, .decoq p5, .soundq p6, .soundq p7, .dressq p8,.cateringq p0, .cateringq p10, .salonq p17{
  height: 44px;
  padding:3%;
  opacity: 0.9;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  background-color: transparent;
  color: #F5F5F5; 
  
}

.cusContent p11{
  height: 44px;
  padding:3%;
  opacity: 0.9;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  line-height: 24px;
  background-color: transparent;
  color: #F5F5F5; 

}



.cateringq p0{
  padding-top:0%;
}


.indoort, .setit, .dancet,.mbandt, .solot, .kandyt, .sabat, .wedt, .sweet, .backt ,.soundt, .int, .malet, .breakt, .dinnert, .buffet, .start,.hairt{
  display:flex;
  flex-direction: column;
  order:0;
  padding:3%;
  padding-left:5%;
  padding-top:0.5%;
}


.indoortick, .dancetick, .setitick, .mbandtick, .solotick, .kandytick, .sabatick, .wedtick, .sweetick, .backtick , .soundtick,.intick, .maletick, .breaktick, .dinnertick, .buffetick, .end, .hairtick{
  display:flex;
  flex-direction: column;
  order:1;
  padding:3%;
  padding-left:5%;padding-left:5%;
  padding-top:0.5%;
}


.outdoort,  .poruwat, .djst,.lawt, .west, .partyt, .floralt, .light, .out, .femalet, .luncht, .teat, .nos, .makeupt{
  display:flex;
  flex-direction: column;
  order:2;
  padding:3%;
  padding-left:6%;
  padding-top:0.5%;
}

.outdoortick,.poruwatick, .djstick, .lawtick, .westick, .partytick, .floraltick, .lightick, .outick, .femaletick, .lunchtick, .teatick, .makeuptick{
  display:flex;
  flex-direction: column;
  order:3;
  padding:3%;
  padding-left:5%;
  padding-top:0.5%;
}

.input-box2,.input-box3,.seat, .input-box4,.input-box9{
    display:flex;
    flex-direction: column;
    order:0;
    padding:3%;
  
}

.indoort input, .outdoort input,.dancet input, .setit input , .poruwat input, .mbandt input, .djst input, .solot input, .kandyt input, .lawt input, .west input, .wedt input, .partyt input,.sweet input, .backt input, .floralt input, .soundt input, .light input, .int input, .out input, .malet input, .femalet input, .breakt input, .luncht input, .dinnert input, .teat input, .buffet input, .nos input, .start input, .end input, .hairt input, .makeupt input{
    height: 44px;
    padding:2%;
    opacity: 0.9;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: #F5F5F5; 
  }


   .input-box3 select, .seat select,.input-box15 select, .input-box21 select , .input-box23 select, .input-box32 select, .input-box42 select  , .input-box52 select, .input-box53 select, .input-box54 select, .input-box62 select, .input-box63 select, .input-box64 select, .input-box72 select, .input-box73 select, .input-box74 select , .input-box82 select, .input-box83 select, .input-box84 select , .input-box85 select, .input-box92 select, .input-box93 select, .input-box94 select {
   height: 44px;
   /* margin-left:3%;
   margin-right:3%;
   margin-top: 3%;
   margin-bottom: 3%;  */
   /* padding:3%; */
   /* padding-left:2%; */
   
   opacity: 0.9;
   font-style: normal;
   font-weight: normal;
   font-size: 19px;
   line-height: 24px;
   background-color: transparent;
   border-radius: 5px;
   border: 1px solid #FFFFFF;
   box-sizing: border-box;
   color: #F5F5F5;  
  }
  
.input-box3 select option, .seat select option,  .input-box21 select option , .input-box23 select option , .input-box32 select option, .input-box42 select option, .input-box52 select option, .input-box53 select option,.input-box54 select option,.input-box62 select option, .input-box63 select option,.input-box64 select option,.input-box72 select option, .input-box73 select option,.input-box74 select option,.input-box82 select option, .input-box83 select option,.input-box84 select option,.input-box85 select option,.input-box92 select option, .input-box93 select option,.input-box94 select option{
   color: black;
   background-color: rgb(235, 232, 226);
  }



.input-box1,.input-box15,.input-box33 , .input-box43, .input-box64,.input-box74, .input-box84, .input-box94, .input-box03, .input-box55{
    display:flex;
    flex-direction:row;
    order:0;
}

.input-box6,.input-box16, .input-box34,.input-box44, .input-box65 ,.input-box85{
  display:flex;
  flex-direction:row;
  order:1;

}


.input-box5, .input-box17{
  display:flex;
  flex-direction: row;
  order:2;
  
  }

  .save{
    display:flex;
    flex-direction: row;
    order:3;
    padding-left:82%;
  }
  
 

.indoortick input, .outdoortick input,.dancetick input, .setitick input, .poruwatick input, .mbandtick input, .djstick input, .solotick input, .kandytick input, .lawtick input, .sabatick input, .westick input,.wedtick input, .partytick input, .sweetick input, .backtick input, .floraltick input, .soundtick input, .lightick input, .intick input, .outick input, .maletick input, .femaletick input, .breaktick input, .lunchtick input, .dinnertick input, .teatick input, .buffetick input, .hairtick input, .makeuptick input{
  width: 38px;
  height: 38px;
  border-color: transparent; 
  border-radius: 5px;
}




.cateringContent{
  position: relative;
  display: flex;
  flex-direction: column;
  order:1;
  width: calc(100% - 350px);
  left: 260px;
  transition: all 0.5s ease;
  border-radius: 30px; 
  background-color: rgb(0, 0, 0);
  background: linear-gradient(114.1deg, rgba(24,24,24,0.65) 18.52%, rgba(15,15,15,0.75) 98.52%);
  backdrop-filter: blur(120px);
  padding:2%;
  display:none;
}

/* .cateringContent.active{
  opacity: 1;

} */

.cateringq{
  display:flex;
  flex-direction: column;
  order:0;
  padding:2%;
}


.photoContent{
position: relative;
display: flex;
flex-direction: column;
order:1;
width: calc(100% - 350px);
left: 260px;
transition: all 0.5s ease;
border-radius: 30px; 
background-color: rgb(0, 0, 0);
background: linear-gradient(114.1deg, rgba(24,24,24,0.65) 18.52%, rgba(15,15,15,0.75) 98.52%);
backdrop-filter: blur(120px);
padding:3%;
display:none;
}

/* .cateringContent.active{
opacity: 1;

} */

.photoq{
display:flex;
flex-direction: column;
order:0;
padding:2%;
}



.musicContent{
position: relative;
display: flex;
flex-direction: column;
order:1;
width: calc(100% - 350px);
left: 260px;
transition: all 0.5s ease;
border-radius: 30px; 
background-color: rgb(0, 0, 0);
background: linear-gradient(114.1deg, rgba(24,24,24,0.65) 18.52%, rgba(15,15,15,0.75) 98.52%);
backdrop-filter: blur(120px);
padding:2%;
display:none;
}

/* .cateringContent.active{
opacity: 1;

} */

.musicq{
display:flex;
flex-direction: column;
order:0;
padding:2%;
}

.danceContent{
position: relative;
display: flex;
flex-direction: column;
order:1;
width: calc(100% - 350px);
left: 260px;
transition: all 0.5s ease;
border-radius: 30px; 
background-color: rgb(0, 0, 0);
background: linear-gradient(114.1deg, rgba(24,24,24,0.65) 18.52%, rgba(15,15,15,0.75) 98.52%);
backdrop-filter: blur(120px);
padding:2%;
display:none;
}

/* .cateringContent.active{
opacity: 1;

} */

.danceq{
display:flex;
flex-direction: column;
order:0;
padding:2%;
}

.input-box41,.input-box42{
display:flex;
flex-direction: column;
order:0;
padding:3%;
}

.input-box41 input, .input-box43 input, .input-box44 input, .input-box45 input, .input-box46 input{
height: 44px;
padding:2%;
opacity: 0.9;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 24px;
background-color: transparent;
border-radius: 5px;
border: 1px solid #FFFFFF;
box-sizing: border-box;
color: #F5F5F5; 
} 

.salonContent{
position: relative;
display: flex;
flex-direction: column;
order:1;
width: calc(100% - 350px);
left: 260px;
transition: all 0.5s ease;
border-radius: 30px; 
background-color: rgb(0, 0, 0);
background: linear-gradient(114.1deg, rgba(24,24,24,0.65) 18.52%, rgba(15,15,15,0.75) 98.52%);
backdrop-filter: blur(120px);
padding:3%;
display:none;
}

/* .cateringContent.active{
opacity: 1;

} */

.salonq{
display:flex;
flex-direction: column;
order:0;
padding:2%;
}

.input-box51,.input-box52,.input-box53, .input-box54, .input-box56{
display:flex;
flex-direction: column;
order:0;
padding:3%;
}

.input-box52, .input-box54{
padding-left: 3%;
}


.input-box51 input,.input-box55 input, .input-box56 input{
height: 44px;
padding:2%;
opacity: 0.9;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 24px;
background-color: transparent;
border-radius: 5px;
border: 1px solid #FFFFFF;
box-sizing: border-box;
color: #F5F5F5; 
} 


.cakeContent{
position: relative;
display: flex;
flex-direction: column;
order:1;
width: calc(100% - 350px);
left: 260px;
transition: all 0.5s ease;
border-radius: 30px; 
background-color: rgb(0, 0, 0);
background: linear-gradient(114.1deg, rgba(24,24,24,0.65) 18.52%, rgba(15,15,15,0.75) 98.52%);
backdrop-filter: blur(120px);
padding:2%;
display:none;
}

/* .cateringContent.active{
opacity: 1;

} */

.cakeq{
display:flex;
flex-direction: column;
order:0;
padding:2%;
}


.decoContent{
position: relative;
display: flex;
flex-direction: column;
order:1;
width: calc(100% - 350px);
left: 260px;
transition: all 0.5s ease;
border-radius: 30px; 
background-color: rgb(0, 0, 0);
background: linear-gradient(114.1deg, rgba(24,24,24,0.65) 18.52%, rgba(15,15,15,0.75) 98.52%);
backdrop-filter: blur(120px);
padding:2%;
display:none;
}

/* .cateringContent.active{
opacity: 1;

} */

.decoq{
display:flex;
flex-direction: column;
order:0;
padding:2%;
}

.soundContent{
position: relative;
display: flex;
flex-direction: column;
order:1;
width: calc(100% - 350px);
left: 260px;
transition: all 0.5s ease;
border-radius: 30px; 
background-color: rgb(0, 0, 0);
background: linear-gradient(114.1deg, rgba(24,24,24,0.65) 18.52%, rgba(15,15,15,0.75) 98.52%);
backdrop-filter: blur(120px);
padding:2%;
display:none;
}

/* .cateringContent.active{
opacity: 1;

} */

.soundq{
display:flex;
flex-direction: column;
order:0;
padding:2%;
}





.dressContent{
position: relative;
display: flex;
flex-direction: column;
order:1;
width: calc(100% - 350px);
left: 260px;
transition: all 0.5s ease;
border-radius: 30px; 
background-color: rgb(0, 0, 0);
background: linear-gradient(114.1deg, rgba(24,24,24,0.65) 18.52%, rgba(15,15,15,0.75) 98.52%);
backdrop-filter: blur(120px);
padding:2%;
display:none;
}

/* .cateringContent.active{
opacity: 1;

} */

.dressq{
display:flex;
flex-direction: column;
order:0;
padding:2%;
}


.saveb {
position:relative;
padding:10px 50px;
border-radius: 28px;
border: 1px solid #18ab29;
display: inline-block; 
cursor: pointer;
color: #ffffff;
font-family: Arial;
font-size: 19px;
line-height: 23px;
background-color: #9593ff;
}


.bac {
  position:relative;
  padding:8px 30px;
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  display: inline-block; 
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  line-height: 23px;
  background-color:#9593ff;
}
